{% extends '::bootstrap.html.twig' %}

{% block page_title %}Se ha producido un error{% endblock %}
{% block id 'error' %}

{% block content %}
    {% if exception.message %}
        <h1>{{ exception.message }}</h1>
    {% else %}
        <h1>Hay un error en la aplicación <span>(error 500)</span></h1>
    {% endif %}
    <img src="{{ asset('bundles/trackmefrontend/images/500-error.jpg')}}" />
{% endblock %}