<!DOCTYPE html>
<html>
<head>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<style>
		.center {text-align: center;}
	</style>
	<title>Error 404</title>
</head>
<body>
	<div class="hero-unit center">
		<h1>Página no encontrada <small><font face="Tahoma" color="red">Error 404</font></small></h1>
		<br />
		<p>La página visitada no fue encontrada, contacte con el webmaster o intente denuevo. Vuelva <b>Atrás</b> con el botón de su navegador</p>
		<p><b>O simplemente presione el siguiente botón para volver al inicio:</b></p>
		<a href="{{ path('homepage', {'path': 'home'}) }}" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Llevame al inicio</a>
	</div>
</body>
</html>