{% extends 'TrackmeBackendBundle::base_admin_assetic_less.html.twig' %}

{% block body %}
	<h1>Hubo un error en el servidor <span>(error 500)</span></h1>
	<a href="javascript: history.go(-1)">Volver</a>
{% endblock %}