/***********NEWS BOX START*************/
#news-box { 
      padding: 5px 10px;
      border:1px solid rgba(0,0,0,0.2);
      -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 5px; 
      border-radius: 5px; 
      -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
#news-box a:focus {
      outline: none;
}
#news-box h3 {
  color: #828282;
  letter-spacing: -1px;
  font-size: 18px;
  line-height: 20px;
  padding-top: 20px;
  margin-bottom: 0;
}
#news-box p { 
      color: #666666; 
      font-size: 13px;
}
#news-box a{ font-size: 15px;}
#news-box a:hover { color: #A40101; text-decoration: none; }
.carousel { margin-bottom: 0; }
.carousel .item p:last-child { padding-top: 5px; }
.control-custom { 
      font-size: 25px; 
      width: 20px;
      height: 20px;
      border-width: 2px;
      line-height: 16px;
      top: 20px;
      left: 450px;
}
.carousel-control.right { right: 0; }
.carousel-control.pause-play {
      left: auto;
      right: 30px;
}
.carousel-control.pause-play.pause {
      background: url("../Styles/img/play_pause.png") no-repeat scroll 2px 2px transparent; 
}
.carousel-control.pause-play.pause:hover {
      background: url("../Styles/img/play_pause.png") no-repeat scroll 2px -14px transparent; 
}
.carousel-control.pause-play.play {
      background: url("../Styles/img/play_pause.png") no-repeat scroll 2px -30px transparent; 
}
.carousel-control.pause-play.play:hover {
      background: url("../Styles/img/play_pause.png") no-repeat scroll 2px -44px transparent; 
}
/***********NEWS BOX END*************/

.carousel-item {
      opacity: 0.6; 
      filter: alpha(opacity=60); 
}
.carousel-item h2 {
      color: #ffffff;
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 10px;
      text-shadow: #000000 1px 1px 2px;
      font-family: 'Open Sans',​sans-serif;
      line-height: 16px;
      font-size: 15px;
      background: url("../Styles/img/carousel_item_title.png") repeat scroll 0 0 transparent;
      height: 22px;
      width: 258px;
}
.carousel-item p {
      margin-top: 10px;
      color: #fff;
      font-size: 11px;
}