
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Track me!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Track me bitch.">
        <meta name="author" content="Gonzalo Moreno">

    {% block stylesheets %}
        {% stylesheets 'bundles/trackmefrontend/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">

        <!-- Navbar
          ================================================== -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('homepage') }}">Track me</a>
                    <div class="nav-collapse collapse" id="main-menu">
                        {% block nav%}
                        <ul class="nav" id="main-menu-left">
                            <li><a href="{{ path('page', { 'url': 'about-us' }) }}">Nosotros</a></li>
                            <li><a>FAQ</a></li>
                            <li><a>Terminos de Servicio</a></li>
                        </ul>
                        {% endblock %}    
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="jumbotron subhead" id="overview">
                <div class="row">
                    <div class="span6">
                        <h1>{% block page_title %} Track me! {% endblock%}</h1>
                    </div>
                </div>
            </header>

            <!-- Article
            ================================================== -->
            <section id="typography">
                <div class="page-header">
                    <h1>Typography</h1>
                </div>

                <!-- Headings & Paragraph Copy -->
                <div class="row">

                    <div class="span4">
                        <div class="well">
                            <h1>h1. Heading 1</h1>
                            <h2>h2. Heading 2</h2>
                            <h3>h3. Heading 3</h3>
                            <h4>h4. Heading 4</h4>
                            <h5>h5. Heading 5</h5>
                            <h6>h6. Heading 6</h6>
                        </div>
                    </div>

                    <div class="span4">
                        <h3>Example body text</h3>
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
                    </div>

                    <div class="span4">
                        <h3>Example addresses</h3>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <address>
                            <strong>Full Name</strong><br>
                            <a href="mailto:#">first.last@gmail.com</a>
                        </address>
                    </div>

                </div>

                <div class="row">
                    <div class="span6">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                    </div>
                    <div class="span6">
                        <blockquote class="pull-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                    </div>
                </div>

            </section>


            <!-- Footer
             ================================================== -->
            <hr>

            <footer id="footer">
                <p class="pull-right"><a href="#top">Volver a inicio</a></p>
                <div class="links">
                </div>
                <p>
                    Adaptado y desarrollado por Gonzalo Moreno.
                </p>

            </footer>

        </div><!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
            {% block javascripts %} 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
              {% javascripts 'bundles/trackmefrontend/js/*' %}
        <script src="{{ asset_url }}"></script>
              {% endjavascripts %}
            {% endblock %}

    </body>
</html>
