{% extends 'TrackmeBackendBundle::base_admin_assetic_less.html.twig' %}

{% block body %}
    <div class="row-fluid">
    	<div class="span4">
    		<h3>Ultimos Clientes</h3>
    		<table class="table table-striped table-hover table-condensed">
    			{% for b in business %}
    				<tr class="list_trow">
    					<td>{{b.name}}</td>
    				</tr>
    			{% endfor %}
    		</table>
    	</div>
    </div>

{% endblock %}

