{% extends 'TrackmeBackendBundle::base_admin_assetic_less.html.twig' %}

{% block title %}
    Track Me | Dashboard
{% endblock title %}

{% block navbar %}
    {% include('TrackmeBackendBundle::base_admin_navbar.html.twig') %}
{% endblock navbar %}

{% block body %}
    <div class="row-fluid">
    	<div class="span4">
    		<h3>Ultimos Clientes</h3>
    		<table class="table table-striped table-hover table-condensed">
    			{% for b in business %}
    				<tr class="list_trow">
    					<td>{{b.name}}</td>
    				</tr>
    			{% endfor %}
    		</table>
    	</div>
    </div>

{% endblock %}

{% block footer %}
<footer>
    <hr>
    <p>
        {% block footer_text %}
        &copy; {{"now"|date("Y")}} Track Me! Todos los derechos reservados
        {% endblock %}
    </p>
</footer>
{% endblock footer %}
