<div id="news-box" class="hidden-phone">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#news-box-us" data-toggle="tab">Clientes</a></li>
        <li class=""><a href="#news-box-europe" data-toggle="tab">Prensa</a></li>
    </ul>
    <div class="tab-content">
        <div id="news-box-europe" class="tab-pane">
            <div id="carousel-europe" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item">
                        <h3><a href="http://www.bloomberg.com/news/2012-10-16/investor-group-may-build-hotel-on-times-square-site.html">Investor Group May Build Hotel On Times Square Site</a></h3>
                        <br>
                        A partnership including real estate investors Steven Witkoff and Michael Ashner bought 701 Seventh A...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Tuesday 16th of  October 2012</p>
                    </div>
                    <div class="item active left">
                        <h3><a href="http://www.bizjournals.com/southflorida/news/2012/10/16/sergio-pino-sells-century-bank-hq-to.html">Sergio Pino Sells U.S. Century Bank HQ To Nelson Albareda</a></h3>
                        <br>
                        Sergio Pino, former U.S. Century Bank President, has sold the Doral building that is home to the ban...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item next left">
                        <h3><a href="http://www.globest.com/news/12_459/houston/finance/Hines-Closes-210-million-Fund-326034.html">Hines Closes $210M Fund</a></h3>
                        <br>
                        Hines closed its latest fund totaling $210M. Dubbed the Hines U.S. Office Value Added Venture III fu...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.cpexecutive.com/regions/west/cw-arranges-295-ksf-office-lease-for-sutter-health/">C&amp;W Arranges 295,000 Square Foot Office Lease For Sutter Health</a></h3>
                        <br>
                        Sutter Health signed a 10 year lease on a 295,000 square foot office building in Roseville, CA, that...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.heraldonline.com/2012/10/16/4341019/velocis-purchases-two-niche-trophy.html">Velocis Purchases Two Niche Trophy Office Properties In Houston</a></h3>
                        <br>
                        Velocis, a commercial real estate investment fund, and its investors have purchased nearly 190,000 s...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.costar.com/News/Article/Vastgood-Prudential-JV-Acquires-7-Shopping-Centers-for-$104M/142408">Vastgood, Prudential JV Acquires 7 Shopping Centers For $104M</a></h3>
                        <br>
                        Vastgood Properties, in a joint venture with an affiliate fund managed by Prudential Real Estate Inv...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://retailtrafficmag.com/news/stores_within_stores_becomes_expansion_model_dujour_10162012/">Store-Within-A-Store Becomes Expansion Model DuJour</a></h3>
                        <br>
                        The list of retailers opting to expand through stores-within-stores agreements has grown quite long ...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.rejournals.com/2012/10/16/venture-one-purchases-110063-square-foot-building-in-bloomingdale/">Venture One Purchases 110,063 Square Foot Building In Bloomingdale</a></h3>
                        <br>
                        Venture One Real Estate, through its acquisition fund, VK Industrial I, has closed on a vacant 110,0...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control control-custom left" href="#carousel-europe" data-slide="prev">‹</a>
                <a class="carousel-control control-custom right" href="#carousel-europe" data-slide="next">›</a>
            </div>
        </div>
        <div id="news-box-us" class="tab-pane active">
            <div class="carousel slide" id="carousel-us">
                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item">
                        <h3><a href="http://www.bloomberg.com/news/2012-10-16/investor-group-may-build-hotel-on-times-square-site.html">Investor Group May Build Hotel On Times Square Site</a></h3>
                        <br>
                        A partnership including real estate investors Steven Witkoff and Michael Ashner bought 701 Seventh A...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Tuesday 16th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.bizjournals.com/southflorida/news/2012/10/16/sergio-pino-sells-century-bank-hq-to.html">Sergio Pino Sells U.S. Century Bank HQ To Nelson Albareda</a></h3>
                        <br>
                        Sergio Pino, former U.S. Century Bank President, has sold the Doral building that is home to the ban...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item active">
                        <h3><a href="http://www.globest.com/news/12_459/houston/finance/Hines-Closes-210-million-Fund-326034.html">Hines Closes $210M Fund</a></h3>
                        <br>
                        Hines closed its latest fund totaling $210M. Dubbed the Hines U.S. Office Value Added Venture III fu...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.cpexecutive.com/regions/west/cw-arranges-295-ksf-office-lease-for-sutter-health/">C&amp;W Arranges 295,000 Square Foot Office Lease For Sutter Health</a></h3>
                        <br>
                        Sutter Health signed a 10 year lease on a 295,000 square foot office building in Roseville, CA, that...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.heraldonline.com/2012/10/16/4341019/velocis-purchases-two-niche-trophy.html">Velocis Purchases Two Niche Trophy Office Properties In Houston</a></h3>
                        <br>
                        Velocis, a commercial real estate investment fund, and its investors have purchased nearly 190,000 s...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.costar.com/News/Article/Vastgood-Prudential-JV-Acquires-7-Shopping-Centers-for-$104M/142408">Vastgood, Prudential JV Acquires 7 Shopping Centers For $104M</a></h3>
                        <br>
                        Vastgood Properties, in a joint venture with an affiliate fund managed by Prudential Real Estate Inv...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://retailtrafficmag.com/news/stores_within_stores_becomes_expansion_model_dujour_10162012/">Store-Within-A-Store Becomes Expansion Model DuJour</a></h3>
                        <br>
                        The list of retailers opting to expand through stores-within-stores agreements has grown quite long ...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                    <div class="item">
                        <h3><a href="http://www.rejournals.com/2012/10/16/venture-one-purchases-110063-square-foot-building-in-bloomingdale/">Venture One Purchases 110,063 Square Foot Building In Bloomingdale</a></h3>
                        <br>
                        Venture One Real Estate, through its acquisition fund, VK Industrial I, has closed on a vacant 110,0...                                    <p style="margin-bottom: 0; font-size: 11px; text-align: right;">Monday 15th of  October 2012</p>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control control-custom left" href="#carousel-us" data-slide="prev">‹</a>
                <a class="carousel-control control-custom right" href="#carousel-us" data-slide="next">›</a>
            </div>
        </div>
        <!-- end #news-box -->
    </div>
</div>
