{% extends 'TrackmeBackendBundle::base_admin_assetic_less.html.twig' %}

{% block title %}
    Track Me | Dashboard
{% endblock title %}

{% block navbar %}
    {% include('TrackmeBackendBundle::base_admin_navbar.html.twig') %}
{% endblock navbar %}

{% block body %}

{% if uf is defined %}
	Valor UF: {{ uf }}
{% endif %}


{% endblock %}

{% block footer %}
<footer>
	<hr>
	<p>
		{% block footer_text %}
		&copy; {{"now"|date("Y")}} Track Me! Todos los derechos reservados
		{% endblock %}
	</p>
</footer>
{% endblock footer %}
