generator: admingenerator.generator.doctrine
params:
    model: Trackme\BackendBundle\Entity\Page
    namespace_prefix: Trackme
    bundle_name: BackendBundle
    fields: 
      title:
        label: Titulo
      enabled:
        label: Habilitado
        help: "Habilitado en frontend."
      weigth:
        label: Orden
        help: "Mientras menor sea el numero, m치s a la izquierda ser치 alineado."
      content:
        label: Contenido
        addFormOptions:
          attr:
            class: tinymce boxsizingBorder

builders:
    list:
        params:
            title: List for BackendBundle
            display: [ title, url, menu, enabled, weigth]
            actions:
                new: ~
            object_actions:
                edit: ~
                delete: ~
    filters:
        params:
            display: ~
    new:
        params:
            title: Nueva P치gina
            display: [title,url,menu,weigth,enabled,content]
            actions:
                save: ~
                list: ~
    edit:
        params:
            title: "Est치 editando \"%object%\"|{ %object%: Page.title }|"
            display: [title,url,menu,weigth,enabled,content]
            actions:
                save: ~
                list: ~
    show:
        params:
            title: "Vista previa de \"%object%\"|{ %object%: Page.title }|"
            display: ~
            actions:
                list: ~
                new: ~
    delete: ~
